.gallery {
    padding: 2rem 0;
    /* display: flex; */
    /* justify-content: ce; */
}

  /* row */

.gallery .row {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.gallery .row .card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 17vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.4rem;
    overflow: hidden;
    border-radius: 1rem;
}
.gallery .row .card img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 1rem;
}

.gallery .row .foto{
    width: 50%;
    padding: 0 2rem;
}
.gallery .row .judul{
    width: 50%;
}

.gallery .row .judul h1{
    font-size: 2rem;
}

.gallery .row .foto img{
    object-fit: cover;
    width: 100%;
    height: auto;
}